/* General style reset for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style for body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

/* General style for header */
header {
    background-color: #111;
    margin-bottom: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
    font-size: 18px;
}

header nav ul li a {
    color: #f00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-bottom: 0;
}

header nav ul li a:hover {
    color: #fff;
    border-bottom: #fff 1px solid;
}

/* Hero Section */
#hero {
    margin-top: 40px;
    padding: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hero-content h3 {
    color: #f00;
    margin-top: 20px;
}

/* Info Card Section */
#info-card {
    background-color: #222;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    text-align: left;
}

.info-card-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and text */
}

/* Profile Image Styling */
.profile-image img {
    max-width: 150px;
    margin-right: 10px;
    border: 3px solid #f00;
}

.profile-details {
    margin-bottom: 20px;
}

.role-badge {
    background-color: rgb(136, 15, 15);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
}

.contact-button button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button button a {
    text-decoration: none;
    color: #fff;
}

.contact-button button:hover {
    background-color: #cc0000;
}